<ion-header>
  <ion-toolbar>
    <ion-title>FUND WALLET</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 50px;"></div>
<form #f="ngForm" (ngSubmit) ="onProceed(f)">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-img src="assets/img/wallet.svg" class="image-logo" alt="Fund wallet"></ion-img>
    </ion-col>

  </ion-row>


  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
      <ion-item lines="none" class="bordered-item">
        <ion-label position="floating">Enter Amount</ion-label>
            <ion-input type="number" id="amount" minlength="3" autofocus required name="amount" clear-input ngModel required class="text-middle">
            </ion-input>
      </ion-item>
    </ion-col>
  </ion-row>


<ion-row>
  <ion-col size-sm="6" offset-sm="3">
  <ion-button type="submit" fill="solid" expand="block" [disabled]="!f.valid" size="large">Proceed</ion-button>
  </ion-col>
</ion-row>
</ion-grid>
</form>
</ion-content>
